@page "/counter"
@inject ILogger<Counter> logger;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnParametersSet()
    {
        logger.LogInformation("Parameters are sent");
    }

    protected override void OnInitialized()
    {
        logger.LogInformation("Initializing component");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        logger.LogInformation("Component after initializing");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
